# dependencies
node_modules/

# builds
dist/
build/

# env
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# PDFs & uploads (VERY IMPORTANT)
uploads/
*.pdf

# Docker
*.log
